<div class='events-header' style='background-image: url(<%= header_background_image_url %>)'>
  <div class="container">
    <h2> Discover upcoming events </h2>
    <form>
      <%= text_field_tag :search, params[:search], class:"form-control mr-sm-2",placeholder:"Search for.." , id: "search-form" %>
    </form>
  </div>
</div>
<div class="container-fluid events-list">
  <div class="row">
    <% @events.each do |event| %>
    <div class="col-md-6">
      <div class="card">
      <img class="card-img-top" src="<%= event.hero_image_url %>">
      <div class="card-block">
      <h4 class="card-title"><%= event.name %></h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      <%= link_to "Edit", edit_event_path(id: event.id), class:"btn btn-success" %>
      <% if event.published_at == nil %>
      <%= link_to "Publish", publish_event_path(id: event.id),method: :put, class:'btn btn-primary' %>
      <% end %>
    </div>    
    </div>  
    </div>
    <% end %>
  </div>  
</div>