<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav">
     <% if current_user %>
     <li class="nav-item">
      <%= link_to "Log out", log_out_path, method: 'delete', class:"nav-link" %>          
     </li>
     <li class="nav-item">
      <%= link_to "New event", new_event_path, class:"nav-link" %>
     </li> 
     <li class="nav-item">
       <%= link_to "New Venue", new_venue_path, class:"nav-link" %>
     </li>
     <li class="nav-item">
      <%= link_to "Your Order", orders_path, class:"nav-link" %>
     </li>
    <% else %>
    <li class="nav-item">
      <%= link_to "Sign in", new_session_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Sign up", new_user_path, class:"nav-link" %>
    </li>
    <% end %>               
  </ul>
</nav>  